{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load breadcrumbs %}
{% bootstrap_messages %}


{% block content-title %}
    Recuperar contraseña
{% endblock %}

{% block content-subtitle %}
    {{subtitle}}
{% endblock %}

{% block content %}
   

    <div class='well well-lg'>
        <div class='row'>
            <div class='col-md-7'>
                <form action="." method="post">

                    {% csrf_token %}

                    {% bootstrap_form form %}

                    <div class="botonesform">
                        <button type="submit" class="btn ">Cambiar contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{# This is used by django.contrib.auth #}