{% load url from future %}

Saludos {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},
Estas recibiendo este correo electrónico porque vos (o alguien pretendiendo ser vos)
ha solicitado que tu contraseña sea reiniciada en {{ domain }}. Si no quieres
que tu contraseña sea reiniciada, por favor ignora este mensaje.

Para reiniciar tu contraseña, por favor haz clic en el siguiente enlace, o copiá
y pegá la dirección en tu navegador:

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

Tu nombre de usuario, en caso que lo hayas olvidado: {{ user.username }}


Saludos,
El equipo de {{ site_name}}.


{# This is used by django.contrib.auth #}