{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load breadcrumbs %}
{% bootstrap_messages %}


{% block title %}{% trans 'Recuperar contraseña' %}{% endblock %}

{% block content %}
    <div class='well well-lg'>
        <div class='row'>
            <div class='col-md-7'>

                <strong>{% trans 'Modificación exitosa' %}</strong>
                <p>{% trans 'Tu contraseña ha sido modificada correctamente' %}</p>
            </div>
        </div>
    </div>

{% endblock %}
