{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_messages %}

{% block title %}Reiniciar contraseña{% endblock %}

{% block content%}
    <strong>{% trans '¿Olvidaste tu contraseña?' %}</strong>
    <form action="." method="post">
        
        <fieldset>
            <p>
                {% trans 'Ingresa tu e-mail y te enviaremos las instrucciones para elegir una nueva' %}
            </p>
            
            {% csrf_token %}
            {% bootstrap_form form %}

            <button type="submit" class="btn btn-lg btn-success btn-block">
                {% trans 'Cambiar la contraseña' %}
            </button>
            
        </fieldset>

    </form>

{% endblock %}