<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li>
                <a href="{% url 'web:index' %}">Inicio</a>
            </li>
                <li>
                    <a href="{% url 'snippets:snippets-list' %}">Lista</a>
                </li>
                <li>
                    <a href="{% url 'snippets:snippets-list-table' %}">Tabla</a>
                </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>